# Standard IPP over USB devices, with Class/SubClass/Protocol = 7/1/4
ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{ID_USB_INTERFACES}=="*:070104:*", OWNER="root", GROUP="lp", MODE="0664", RUN+="/usr/sbin/ipp-usb udev -bg"

# Non-standard HP devices with 255/9/1 combination
ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{ID_VENDOR_ID}=="03f0", ENV{ID_USB_INTERFACES}=="*:ff0901:*", OWNER="root", GROUP="lp", MODE="0664", RUN+="/usr/sbin/ipp-usb udev -bg"
