[Unit]
Description=Reset dnsmasq/pi-hole query log

[Service]
Type=oneshot
ExecStart=/usr/bin/pihole flush once quiet
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
