[Desktop Entry]
Name=Ioquake III
Exec=/usr/bin/ioquake3 
Icon=quake3.png
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Game;ActionGame;
X-SuSE-translate=false
