--1.5.6
constraints: aeson ==1.5.6.0,
             ansi-terminal ==0.11,
             ansi-wl-pprint ==0.6.9,
             array ==0.5.4.0,
             assoc ==1.0.2,
             attoparsec ==0.14.1,
             base ==4.13.0.0,
             base-compat ==0.11.2,
             base-compat-batteries ==0.11.2,
             base-orphans ==0.8.4,
             base-prelude ==1.4,
             base-unicode-symbols ==0.2.4.2,
             bifunctors ==5.5.11,
             binary ==0.8.7.0,
             bytestring ==0.10.10.1,
             case-insensitive ==1.2.1.0,
             chunked-data ==0.3.1,
             colour ==2.3.6,
             comonad ==5.0.8,
             containers ==0.6.2.1,
             containers-unicode-symbols ==0.3.1.3,
             data-fix ==0.3.2,
             deepseq ==1.4.4.0,
             directory ==1.3.6.0,
             distributive ==0.6.2.1,
             dlist ==1.0,
             fail ==4.9.0.0,
             file-embed ==0.0.14.0,
             filepath ==1.4.2.1,
             ghc-boot-th ==8.8.4,
             ghc-prim ==0.5.3,
             hashable ==1.3.3.0,
             indexed-traversable ==0.1.1,
             integer-gmp ==1.0.2.0,
             integer-logarithms ==1.0.3.1,
             megaparsec ==9.1.0,
             microlens ==0.4.12.0,
             microlens-ghc ==0.4.13,
             microlens-mtl ==0.2.0.1,
             microlens-platform ==0.4.2,
             microlens-th ==0.4.3.10,
             mtl ==2.2.2,
             optparse-applicative ==0.16.1.0,
             parser-combinators ==1.3.0,
             pretty ==1.1.3.6,
             primitive ==0.7.2.0,
             process ==1.6.9.0,
             random ==1.2.0,
             rts ==1.0,
             scientific ==0.3.7.0,
             semigroups ==0.19.1,
             splitmix ==0.1.0.3,
             strict ==0.4.0.1,
             tagged ==0.8.6.1,
             template-haskell ==2.15.0.0,
             text ==1.2.4.0,
             th-abstraction ==0.4.2.0,
             these ==1.1.1.1,
             time ==1.9.3,
             time-compat ==1.9.6,
             transformers ==0.5.6.2,
             transformers-compat ==0.7,
             unix ==2.7.2.2,
             unordered-containers ==0.2.14.0,
             uuid-types ==1.0.5,
             vector ==0.12.3.0,
             xml ==1.3.14
