[Desktop Entry]
Encoding=UTF-8
Categories=Application;Game;ArcadeGame;
X-Desktop-File-Install-Version=0.2
Name=Tower Toppler
Comment=A clone of the 'Nebulus' game on old 8 and 16 bit machines.
Comment[de]=Klon des alten Spiels 'Nebulus'
Comment[cs]=Klon hry 'Nebulus' z dob 8 a 16 bitových počítačů.
Icon=toppler
Exec=/usr/bin/toppler
Terminal=0
Type=Application
