[Desktop Entry]
Name=Vectoroids
Comment=A clone of the classic arcade game "Asteroids"
Exec=vectoroids --fullscreen
Icon=vectoroids-icon
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
Keywords=Game;ArcadeGame;
