constraints: Cabal ==1.24.2.0,
             array ==0.5.1.1,
             base ==4.9.1.0,
             ghc-prim ==0.5.0.0,
             rts ==1.0,
             integer-gmp ==1.0.0.1,
             binary ==0.8.3.0,
             bytestring ==0.10.8.1,
             deepseq ==1.4.2.0,
             containers ==0.5.7.1,
             directory ==1.2.7.1,
             filepath ==1.4.1.1,
             time ==1.6.0.1,
             unix ==2.7.2.1,
             pretty ==1.1.3.3,
             process ==1.4.3.0,
             aeson ==1.0.2.1,
             attoparsec ==0.13.1.0,
             scientific ==0.3.4.10,
             hashable ==1.2.5.0,
             text ==1.2.2.1,
             integer-logarithms ==1,
             vector ==0.11.0.0,
             primitive ==0.6.1.0,
             transformers ==0.5.2.0,
             base-compat ==0.9.1,
             dlist ==0.8.0.2,
             tagged ==0.8.5,
             template-haskell ==2.11.1.0,
             ghc-boot-th ==8.0.2,
             transformers-compat ==0.5.1.4,
             time-locale-compat ==0.1.1.3,
             unordered-containers ==0.2.7.2,
             annotated-wl-pprint ==0.7.0,
             ansi-terminal ==0.6.2.3,
             async ==2.1.1,
             stm ==2.4.4.1,
             base16-bytestring ==0.1.1.6,
             base64-bytestring ==1.0.0.1,
             binary-tagged ==0.1.4.2,
             SHA ==1.6.4.2,
             generics-sop ==0.2.3.0,
             nats ==1.1.1,
             semigroups ==0.18.2,
             blaze-builder ==0.4.0.2,
             byteable ==0.1.1,
             clock ==0.7.2,
             conduit ==1.2.8,
             exceptions ==0.8.3,
             mtl ==2.2.1,
             lifted-base ==0.2.3.8,
             monad-control ==1.0.1.0,
             transformers-base ==0.4.4,
             mmorph ==1.0.9,
             resourcet ==1.1.9,
             conduit-extra ==1.1.15,
             network ==2.6.3.1,
             streaming-commons ==0.1.16,
             random ==1.1,
             zlib ==0.6.1.2,
             cryptohash ==0.11.9,
             cryptonite ==0.21,
             memory ==0.14,
             foundation ==0.0.3,
             cryptohash-conduit ==0.1.1,
             either ==4.4.1.1,
             MonadRandom ==0.5,
             fail ==4.9.0.0,
             bifunctors ==5.4.1,
             base-orphans ==0.5.4,
             comonad ==5,
             contravariant ==1.4,
             StateVar ==1.1.0.4,
             void ==0.7.1,
             distributive ==0.5.1,
             free ==4.12.4,
             prelude-extras ==0.4.0.3,
             profunctors ==5.2,
             semigroupoids ==5.1,
             errors ==2.1.3,
             safe ==0.3.10,
             unexceptionalio ==0.3.0,
             extra ==1.5.1,
             fast-logger ==2.4.7,
             auto-update ==0.1.4,
             bytestring-builder ==0.10.8.1.0,
             easy-file ==0.2.1,
             unix-time ==0.3.7,
             old-time ==1.1.0.3,
             old-locale ==1.0.0.7,
             file-embed ==0.0.10,
             filelock ==0.1.0.1,
             fsnotify ==0.2.1,
             hinotify ==0.3.9,
             unix-compat ==0.4.3.1,
             generic-deriving ==1.11.1,
             hastache ==0.6.1,
             ieee754 ==0.7.9,
             syb ==0.6,
             hit ==0.6.3,
             hourglass ==0.2.10,
             parsec ==3.1.11,
             patience ==0.1.1,
             system-fileio ==0.3.16.3,
             system-filepath ==0.4.13.4,
             utf8-string ==1.0.1.1,
             zlib-bindings ==0.1.1.5,
             hpack ==0.15.0,
             Glob ==0.7.14,
             yaml ==0.8.21.1,
             enclosed-exceptions ==1.0.2,
             hpc ==0.6.0.3,
             http-client ==0.5.5,
             case-insensitive ==1.2.0.7,
             cookie ==0.4.2.1,
             data-default-class ==0.1.2.0,
             http-types ==0.9.1,
             mime-types ==0.1.0.7,
             network-uri ==2.6.1.0,
             http-client-tls ==0.3.3,
             connection ==0.2.6,
             socks ==0.5.5,
             cereal ==0.5.4.0,
             tls ==1.3.9,
             asn1-encoding ==0.9.4,
             asn1-types ==0.3.2,
             x509 ==1.6.5,
             asn1-parse ==0.9.4,
             pem ==0.2.2,
             x509-store ==1.6.2,
             x509-validation ==1.6.5,
             x509-system ==1.6.4,
             http-conduit ==2.2.3,
             lifted-async ==0.9.0,
             constraints ==0.8,
             microlens ==0.4.7.0,
             monad-logger ==0.3.20.1,
             monad-loops ==0.4.3,
             stm-chans ==3.0.0.4,
             monad-unlift ==0.2.0,
             open-browser ==0.2.1.0,
             optparse-applicative ==0.13.0.0,
             ansi-wl-pprint ==0.6.7.3,
             path ==0.5.11,
             path-io ==1.2.2,
             temporary ==1.2.0.4,
             persistent ==2.6,
             blaze-html ==0.8.1.3,
             blaze-markup ==0.7.1.1,
             http-api-data ==0.3.3,
             uri-bytestring ==0.2.2.1,
             uuid-types ==1.0.3,
             path-pieces ==0.2.1,
             resource-pool ==0.2.3.2,
             silently ==1.2.5,
             persistent-sqlite ==2.6,
             persistent-template ==2.5.1.6,
             aeson-compat ==0.3.6,
             pid1 ==0.1.0.1,
             project-template ==0.2.0,
             regex-applicative-text ==0.1.0.1,
             regex-applicative ==0.3.3,
             retry ==0.7.4.2,
             safe-exceptions ==0.1.4.0,
             split ==0.2.3.1,
             store ==0.3,
             hspec ==2.3.2,
             HUnit ==1.5.0.0,
             call-stack ==0.1.0,
             QuickCheck ==2.9.2,
             tf-random ==0.5,
             hspec-core ==2.3.2,
             hspec-expectations ==0.8.2,
             quickcheck-io ==0.1.4,
             setenv ==0.1.1.3,
             hspec-discover ==2.3.2,
             hspec-smallcheck ==0.4.1,
             smallcheck ==1.1.1,
             logict ==0.6.0.2,
             mono-traversable ==1.0.1,
             vector-algorithms ==0.7.0.1,
             store-core ==0.3,
             th-lift ==0.7.6,
             th-lift-instances ==0.1.11,
             th-orphans ==0.13.3,
             th-reify-many ==0.1.6,
             th-expand-syns ==0.4.1.0,
             th-utilities ==0.2.0.1,
             tar ==0.5.0.3,
             text-binary ==0.2.1.1,
             text-metrics ==0.2.0,
             unicode-transforms ==0.2.0,
             bitarray ==0.0.1.1,
             vector-binary-instances ==0.2.3.4,
             zip-archive ==0.3.0.5,
             digest ==0.0.1.2,
             gitrev ==1.2.0,
             optparse-simple ==0.0.3
