[Desktop Entry]
Exec=/usr/lib/qt5/bin/assistant
Name=Qt Assistant
GenericName=Qt Document Browser
Icon=assistant
Terminal=false
Type=Application
Categories=Qt;Development;Documentation
