[Desktop Entry]
Type=Application
Version=1.0
Name=X Soldier
Comment=Shoot 'em up game with the "not shooting" bonus
Keywords=Game;xsoldier;
Icon=xsoldier-icon
TryExec=xsoldier
Exec=xsoldier
Terminal=false
Categories=Game;
StartupNotify=true
