# format is config=command
# where command can be one of:
# y,n,m,"<str>,<value>
CONFIG_FUNCTION_TRACER=n
CONFIG_STACK_TRACER=n
CONFIG_ATM=n
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_TRANSPARENT_HUGEPAGE_NEVER=y
CONFIG_CGROUP_PIDS=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_PACKET=m
CONFIG_NF_CT_PROTO_DCCP=y
CONFIG_NF_CT_PROTO_SCTP=y
CONFIG_NF_CT_PROTO_UDPLITE=y
CONFIG_BATMAN_ADV=n
CONFIG_INPUT_LEDS=m
CONFIG_SQUASHFS_LZ4=y
CONFIG_STRICT_DEVMEM=y
CONFIG_IO_STRICT_DEVMEM=y
CONFIG_ENCRYPTED_KEYS=m
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_LOCALVERSION=""
CONFIG_IP_PNP=n
CONFIG_UEVENT_HELPER=y
CONFIG_UEVENT_HELPER_PATH="/sbin/hotplug"
CONFIG_USB_DWC2=m
CONFIG_USB_ETH=m
CONFIG_RTC_DRV_DS1307=y
CONFIG_I2C_BCM2835=y
CONFIG_MEMCG=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_PSI=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y
