[Desktop Entry]
Type=Application
Icon=yed
Exec=yed %f
StartUpNotify=true
StartUpWMClass=com-yworks-A-yEd
Name=yEd Graph Editor
Categories=Application;Graphics;VectorGraphics;Java;
