PREFIX    = /usr
VARDIR    = /var
CONFDIR   = /etc/vdr
BINDIR    = $(PREFIX)/bin
INCDIR    = $(PREFIX)/include
LIBDIR    = $(PREFIX)/lib/vdr
LOCDIR    = $(PREFIX)/share/locale
MANDIR    = $(PREFIX)/share/man
PCDIR     = $(PREFIX)/lib/pkgconfig
RESDIR    = $(PREFIX)/share/vdr
VIDEODIR  = $(VARDIR)/lib/vdr/video
CACHEDIR  = $(VARDIR)/cache/vdr
LIBS+=-lintl -lexecinfo
