Timo Teräs <timo.teras@iki.fi>
Natanael Copa <ncopa@alpinelinux.org> <natanael.copa@gmail.com>
Natanael Copa <ncopa@alpinelinux.org> <ncopa@ncopa-laptop.localdomain>
Natanael Copa <ncopa@alpinelinux.org> <ncopa@alpine-netbook.(none)>
Jean-Louis Fuchs <jean-louis.fuchs@adfinis-sygroup.ch> <ganwell@fangorn.ch>
Kevin Daudt <kdaudt@alpinelinux.org> <ops@ikke.info>
Lucas Ramage <ramage.lucas@protonmail.com> <oxr463@gmx.us>
Lucas Ramage <ramage.lucas@protonmail.com> <ramage.lucas@openmailbox.org>
Lucas Ramage <ramage.lucas@protonmail.com> <lramage@star2star.com>
<eu@eju.no> <eivind@uggedal.com>
Oliver Smith <ollieparanoid@postmarketos.org> <ollieparanoid@bitmessage.ch>
Bart Ribbers <bribbers@disroot.org> <bart.ribbers@openmailbox.org>
Ariadne Conill <ariadne@dereferenced.org> <nenolod@dereferenced.org>
Ariadne Conill <ariadne@dereferenced.org> <kaniini@dereferenced.org>
Sheila Aman <sheila@vulpine.house> Kiyoshi Aman <kiyoshi.aman+adelie@gmail.com>
Sheila Aman <sheila@vulpine.house> Kiyoshi Aman <kiyoshi.aman@gmail.com>
Sheila Aman <sheila@vulpine.house> Kiyoshi Aman <kiyoshi.aman+apkfission@gmail.com>
Kaarle Ritvanen <kunkku@alpinelinux.org> <kaarle.ritvanen@datakunkku.fi>
Luca Weiss <luca@lucaweiss.eu> <luca@z3ntu.xyz>
