// Let users in plugdev group modify ModemManager
polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.ModemManager1.Device.Control" ||
	action.id == "org.freedesktop.ModemManager1.Contacts" ||
	action.id == "org.freedesktop.ModemManager1.Messaging" ||
	action.id == "org.freedesktop.ModemManager1.Location") &&
        subject.isInGroup("plugdev") && subject.active) {
        return "yes";
    }
});

// Let geoclue modify ModemManager for location gathering
polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.ModemManager1.Device.Control" ||
	action.id == "org.freedesktop.ModemManager1.Location") &&
        subject.isInGroup("geoclue")) {
        return "yes";
    }
});
