[Desktop Entry]
Name=VacuumTube
Exec=/usr/bin/vacuumtube %U
Terminal=false
Type=Application
Icon=vacuumtube
Comment=VacuumTube
Categories=AudioVideo;Video;Network
