[Desktop Entry]
Version=1.0
Name=GNUjump
Comment=A clone of the simple yet addictive game Xjump
Terminal=false
Type=Application
StartupWMClass=gnujump
Exec=gnujump
Icon=GNUjump
Keywords=game;xjump;
Categories=Game;ArcadeGame;
