[Desktop Entry]
Name=Sway
Name[en]=Sway
Comment=This session logs you into Sway
Comment[en]=This session logs in you into Sway
Exec=dbus-run-session /usr/bin/sway
TryExec=/usr/bin/sway
Icon=
Type=Application
DesktopNames=Sway
Keywords=launch;Sway;desktop;session;
