[Desktop Entry]
Name=Phosh
Name[en]=Phosh
Comment=This session logs you into Phosh
Comment[en]=This session logs in you into Phosh
Exec=dbus-run-session /usr/bin/phosh-session
TryExec=/usr/bin/phosh-session
Type=Application
DesktopNames=Phosh:GNOME
Keywords=launch;Phosh;desktop;session;
