[Desktop Entry]
Type=Application
Name=spark
Comment=Spark IM Client
TryExec=/usr/bin/spark
Exec=/usr/bin/spark
Categories=Network;Chat;
Terminal=false
StartupNotify=true
Icon=spark
