[Desktop Entry]
Name=Zulip
Exec=/usr/bin/zulip-desktop %U
Terminal=false
Type=Application
Icon=zulip
Comment=Zulip Desktop Client for Linux
Categories=Chat;GNOME;GTK;Network;InstantMessaging
