[Desktop Entry]
Type=Application
Version=1.5
Name=Brogue
GenericName=Roguelike game
Comment=Brave the Dungeons of Doom!
Comment[de]=Meistere die Dungeons der Verdammnis!
Comment[ru]=Бросьте вызов Подземельям Погибели!
Icon=brogue
Exec=brogue
Terminal=false
Categories=Game;RolePlaying;
