[Desktop Entry]
Version=1.1
Name=Bug Squish
Type=Application
GenericName=Game
Comment=Squash the bugs before they suck up your blood
Exec=bugsquish --fullscreen
Icon=bugsquish-icon
Terminal=false
Hidden=false
Categories=Application;Game;2DGraphics;ActionGame;
Keywords=Game;Arcade;