[Desktop Entry]
Version=1.0
Name=Galaga:Hyperspace
Comment=Play enhanced Galaga Game
Comment[de]=Spiele das verbesserte Galaga-Spiel
Exec=xgalaga-hyperspace
Icon=xgalaga-icon
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Keywords=shmup;shootemup;shooter;
