[Desktop Entry]
Type=Application
Version=1.0
Name=XGalaga
Comment=
Keywords=Game;
Icon=xgalaga-icon
TryExec=xgalaga
Exec=xgalaga
Terminal=false
Categories=Game;
StartupNotify=true
