[Desktop Entry]
Version=1.0
Type=Application
Name=OpenterfaceQT
Exec=/usr/bin/openterfaceQT
Icon=openterfaceQT
Comment=OpenterfaceQT Application
Categories=Utility;
