[Desktop Entry]
Name=EmulationStation
GenericName=EmulationStation
Comment=Emulator & App launcher frontend
Exec=emulationstation
Icon=emulationstation.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;Emulator;
