[Desktop Entry]
Name=MuPDF
GenericName=PDF and ebook viewer
Comment=Lightweight document viewer with support for PDF, XPS, OpenXPS, CBZ, EPUB, and FictionBook 2 formats.
Exec=/usr/bin/mupdf %f
Icon=mupdf
Terminal=false
Type=Application
Categories=Viewer;Graphics;
MimeType=application/pdf;application/epub+zip;application/vnd.ms-xpsdocument;
NoDisplay=true
