[Desktop Entry]
Name=IDLE
GenericName=Python IDE
Comment=Python Integrated Development and Learning Environment
Exec=/usr/bin/idle %F
TryExec=/usr/bin/idle
Icon=idle
Terminal=false
Type=Application
Categories=Development;IDE
StartupNotify=false
MimeType=text/x-python;
Actions=Edit;

[Desktop Action Edit]
Exec=/usr/bin/idle %F
Name=Edit with IDLE
