[Desktop Entry]
Name=Lem
GenericName=Text Editor
Exec=/usr/bin/lem-gui %F
Comment=An extensible editor written in Common Lisp
Terminal=false
Icon=/usr/share/lem/resources/icon.png
Type=Application
Category=Development;TextEditor;