[Desktop Entry]
Name=Element
Exec=/usr/bin/element-desktop %U
Terminal=false
Type=Application
Icon=element-desktop
StartupWMClass=element
Comment=A feature-rich client for Matrix
MimeType=x-scheme-handler/element;
Categories=Network;InstantMessaging;Chat;
