[Desktop Entry]
Version=1.0
Name=cmus

GenericName=Terminal music player
Comment=Launches cmus terminal music player
Keywords=Music,Media,Audio,Player
Categories=Audio;ConsoleOnly

Type=Application
Icon=utilities-terminal
Terminal=true
Exec=cmus %u
