[Desktop Entry]
Type=Application
Name=Intiface Central
Icon=intiface-central
Exec=intiface-central %U
Categories=Utility;Robotics;
Keywords=Buttplug;Teledildonics;
X-Purism-FormFactor=Workstation;Mobile;
