--0.1.2.2
constraints: Cabal ==3.8.1.0,
             Cabal-syntax ==3.8.1.0,
             Decimal ==0.5.2,
             Glob ==0.10.2,
             OneTuple ==0.4.1.1,
             Only ==0.1,
             QuickCheck ==2.14.2,
             RSA ==2.4.1,
             SHA ==1.6.4.4,
             StateVar ==1.2.2,
             aeson ==2.1.2.1,
             aeson-pretty ==0.8.9,
             ansi-terminal ==0.11.5,
             ansi-terminal-types ==0.11.5,
             ansi-wl-pprint ==0.6.9,
             appar ==0.1.8,
             array ==0.5.4.0,
             asn1-encoding ==0.9.6,
             asn1-parse ==0.9.5,
             asn1-types ==0.3.4,
             assoc ==1.1,
             async ==2.2.4,
             attoparsec ==0.14.4,
             attoparsec-iso8601 ==1.1.0.0,
             authenticate-oauth ==1.7,
             base ==4.17.0.0,
             base-compat ==0.12.2,
             base-compat-batteries ==0.12.2,
             base-orphans ==0.9.0,
             base64-bytestring ==1.2.1.0,
             basement ==0.0.15,
             bifunctors ==5.6.1,
             binary ==0.8.9.1,
             bitvec ==1.1.4.0,
             blaze-builder ==0.4.2.2,
             blaze-markup ==0.8.2.8,
             byteorder ==1.0.4,
             bytestring ==0.11.3.1,
             cabal-doctest ==1.0.9,
             call-stack ==0.4.0,
             case-insensitive ==1.2.1.0,
             cassava ==0.5.3.0,
             cassava-megaparsec ==2.0.4,
             cereal ==0.5.8.3,
             clock ==0.8.3,
             cmdargs ==0.10.22,
             colour ==2.3.6,
             comonad ==5.0.8,
             conduit ==1.3.4.3,
             conduit-extra ==1.3.6,
             connection ==0.3.1,
             containers ==0.6.6,
             contravariant ==1.5.5,
             cookie ==0.4.6,
             crypto-api ==0.13.3,
             crypto-pubkey-types ==0.4.3,
             cryptonite ==0.30,
             csv ==0.1.2,
             data-default ==0.7.1.1,
             data-default-class ==0.1.2.0,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             data-fix ==0.3.2,
             deepseq ==1.4.8.0,
             deferred-folds ==0.9.18.3,
             directory ==1.3.7.1,
             distributive ==0.6.2.1,
             dlist ==1.0,
             doclayout ==0.4.0.1,
             emojis ==0.1.2,
             entropy ==0.4.1.10,
             exceptions ==0.10.5,
             extra ==1.7.13,
             file-embed ==0.0.15.0,
             filepath ==1.4.2.2,
             foldable1-classes-compat ==0.1,
             foldl ==1.4.14,
             generically ==0.1.1,
             ghc-bignum ==1.3,
             ghc-boot-th ==9.4.4,
             ghc-prim ==0.9.0,
             hashable ==1.4.2.0,
             hashtables ==1.3.1,
             hledger-lib ==1.29.2,
             hourglass ==0.2.12,
             hsc2hs ==0.68.9,
             html ==1.0.1.2,
             http-api-data ==0.5.1,
             http-client ==0.7.13.1,
             http-client-tls ==0.3.6.1,
             http-types ==0.12.3,
             indexed-traversable ==0.1.2.1,
             indexed-traversable-instances ==0.1.1.2,
             integer-gmp ==1.1,
             integer-logarithms ==1.0.3.1,
             iproute ==1.7.12,
             isomorphism-class ==0.1.0.9,
             libyaml ==0.1.2,
             megaparsec ==9.3.0,
             memory ==0.18.0,
             microlens ==0.4.13.1,
             microlens-th ==0.4.3.12,
             mime-types ==0.1.1.0,
             modern-uri ==0.3.6.0,
             monad-control ==1.0.3.1,
             mono-traversable ==1.0.15.3,
             mtl ==2.2.2,
             mtl-compat ==0.2.2,
             network ==3.1.2.8,
             network-uri ==2.6.4.2,
             old-locale ==1.0.0.7,
             optparse-applicative ==0.17.0.0,
             pager ==0.1.1.0,
             parsec ==3.1.15.0,
             parser-combinators ==1.3.0,
             pem ==0.2.4,
             pretty ==1.1.3.6,
             pretty-simple ==4.1.2.0,
             prettyprinter ==1.7.1,
             prettyprinter-ansi-terminal ==1.1.3,
             primitive ==0.8.0.0,
             process ==1.6.16.0,
             profunctors ==5.6.2,
             random ==1.2.1.1,
             raw-strings-qq ==1.1,
             reflection ==2.1.7,
             regex-base ==0.94.0.2,
             regex-tdfa ==1.3.2,
             req ==3.13.0,
             resourcet ==1.3.0,
             retry ==0.9.3.1,
             rts ==1.0.2,
             safe ==0.3.19,
             safe-exceptions ==0.1.7.3,
             scientific ==0.3.7.0,
             semialign ==1.3,
             semigroupoids ==6.0.0.1,
             socks ==0.6.1,
             split ==0.2.3.5,
             splitmix ==0.1.0.4,
             stm ==2.5.1.0,
             streaming-commons ==0.2.2.6,
             strict ==0.5,
             tabular ==0.2.2.8,
             tagged ==0.8.7,
             tasty ==1.4.3,
             tasty-hunit ==0.10.0.3,
             template-haskell ==2.19.0.0,
             terminfo ==0.4.1.5,
             text ==2.0.1,
             text-ansi ==0.2.1,
             text-builder ==0.6.7,
             text-builder-dev ==0.3.3.2,
             text-short ==0.1.5,
             th-abstraction ==0.4.5.0,
             th-compat ==0.1.4,
             these ==1.2,
             time ==1.12.2,
             time-compat ==1.9.6.1,
             timeit ==2.0,
             tls ==1.6.0,
             transformers ==0.5.6.2,
             transformers-base ==0.4.6,
             transformers-compat ==0.7.2,
             typed-process ==0.2.11.0,
             uglymemo ==0.1.0.1,
             unix ==2.7.3,
             unliftio-core ==0.2.1.0,
             unordered-containers ==0.2.19.1,
             utf8-string ==1.0.2,
             uuid-types ==1.0.5,
             vector ==0.13.0.0,
             vector-algorithms ==0.9.0.1,
             vector-stream ==0.1.0.0,
             witherable ==0.4.2,
             x509 ==1.7.7,
             x509-store ==1.6.9,
             x509-system ==1.6.7,
             x509-validation ==1.6.12,
             xdg-basedir ==0.2.2,
             yaml ==0.11.11.0,
             zlib ==0.6.3.0
nix: disable
