[Desktop Entry]
Name=Searchmonkey
Comment=Regular expression power search utility
Exec=searchmonkey
Icon=/usr/share/pixmaps/searchmonkey/searchmonkey-300x300.png
Type=Application
StartupNotify=false
Terminal=false
Categories=TextTools;Utility
