[Desktop Entry]
Name=DDaynormandy
GenericName=a free open-source first person shooter
Exec=/usr/bin/ddaynormandy
Icon=ddaynormandy.png
Terminal=false
Type=Application
Categories=Game;ActionGame;
