[Desktop Entry]
Name=Quake II
Comment=Quake II (Quake2World.net) v1.2.13
Exec=/usr/bin/quake2
Icon=quake2.png
Terminal=false
Type=Application
Categories=Games;ActionGame;
StartupNotify=true
