# Sample locked down default ACL policy
# Use uuidgen to generate a master_token - Accepts any string format
#{
#  "acl_datacenter": "dc1",
#  "acl_master_token": "35629809-57c6-4ef5-a807-b3a23394d57d",
#  "acl_default_policy": "deny",
#  "acl_down_policy": "deny"
#}
