# Enable RPC encryption with TLS
#{
#  "ca_file": "/etc/consul/ssl/ca_cert.pem",
#  "cert_file": "/etc/consul/ssl/server.pem",
#  "key_file": "/etc/consul/ssl/server.key",
#  "verify_incoming": true,
#  "verify_outgoing": true
#}
