[Desktop Entry]
Name=Anbox
GenericName=Android in a box
Version=1.0
Type=Application
Icon=/usr/share/icons/hicolor/512x512/anbox.png
TryExec=anbox
Exec=anbox-launch
Terminal=false
