[Desktop Entry]
Name=kio-fuse
Comment=Fuse interface for KIO
Type=Application
Exec=/usr/lib/libexec/kio-fuse -f
TryExec=/usr/lib/libexec/kio-fuse
Terminal=false
