[Desktop Entry]
Name=Bitritter
GenericName=Password Manager
Comment=BitWarden-compatible client
TryExec=bitritter
Exec=bitritter %u
# Icon=
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
StartupWMClass=Bitritter
