[Desktop Entry]
Name=Widelands
GenericName=Widelands
Comment=Realtime strategy game
Icon=widelands
# force glx, https://github.com/widelands/widelands/issues/4958
Exec=env SDL_VIDEODRIVER=x11 widelands
Type=Application
Categories=Game;StrategyGame;
