[Desktop Entry]
Name=Linkquisition
GenericName=Web Browser Proxy
Comment=Proxy Internet link
Exec=/usr/bin/linkquisition %u
Terminal=false
Icon=linkquisition
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;
