### The C compiler and options:

CC       = gcc
CFLAGS   = -g -O3 -Wall

CXX      = g++
CXXFLAGS = -g -O3 -Wall -Werror=overloaded-virtual -Wno-parentheses

# Use 'make DEBUG=1 ...' to build a debug version of VDR and plugins:
ifdef DEBUG
CFLAGS   += -O0
CXXFLAGS += -O0
endif

### Fallback for plugins with old makefiles:                                
ifdef PLUGIN                
CFLAGS   += -fPIC            
CXXFLAGS += -fPIC                                             
endif

PREFIX    = /usr
VARDIR    = /var
CONFDIR   = /etc/vdr
BINDIR    = $(PREFIX)/bin
INCDIR    = $(PREFIX)/include
LIBDIR    = $(PREFIX)/lib/vdr
LOCDIR    = $(PREFIX)/share/locale
MANDIR    = $(PREFIX)/share/man
PCDIR     = $(PREFIX)/lib/pkgconfig
RESDIR    = $(PREFIX)/share/vdr
VIDEODIR  = $(VARDIR)/lib/vdr/video
CACHEDIR  = $(VARDIR)/cache/vdr
LIBS+=-lintl -lexecinfo
