--0.7.0
constraints: Cabal ==2.2.0.1,
             Diff ==0.3.4,
             QuickCheck ==2.13.2,
             StateVar ==1.2,
             aeson ==1.4.4.0,
             array ==0.5.2.0,
             attoparsec ==0.13.2.2,
             base ==4.11.1.0,
             base-compat ==0.10.5,
             base-orphans ==0.8.1,
             binary ==0.8.5.1,
             bytestring ==0.10.8.2,
             containers ==0.5.11.0,
             contravariant ==1.5.2,
             deepseq ==1.4.3.0,
             directory ==1.3.1.5,
             dlist ==0.8.0.7,
             filepath ==1.4.2,
             ghc-boot-th ==8.4.3,
             ghc-prim ==0.5.2.0,
             hashable ==1.3.0.0,
             integer-gmp ==1.0.2.0,
             integer-logarithms ==1.0.3,
             mtl ==2.2.2,
             parsec ==3.1.13.0,
             pretty ==1.1.3.6,
             primitive ==0.7.0.0,
             process ==1.6.3.0,
             random ==1.1,
             regex-base ==0.93.2,
             regex-tdfa ==1.2.3.2,
             rts ==1.0,
             scientific ==0.3.6.2,
             splitmix ==0.0.3,
             stm ==2.5.0.0,
             tagged ==0.8.6,
             template-haskell ==2.13.0.0,
             text ==1.2.3.0,
             th-abstraction ==0.3.1.0,
             time ==1.8.0.2,
             time-compat ==1.9.2.2,
             transformers ==0.5.5.0,
             unix ==2.7.2.2,
             unordered-containers ==0.2.10.0,
             uuid-types ==1.0.3,
             vector ==0.12.0.3
