[Desktop Entry]
Name=mGBA
GenericName=Game Boy Advance Emulator
Exec=mgba-qt %f
Icon=mgba
Terminal=false
Type=Application
Categories=Game;Emulator;Qt;
MimeType=application/x-mgba-qt;
