[Unit]
Description=Port of i3bar for wlroots-based compositors
Documentation=https://github.com/MaxVerevkin/i3bar-river
PartOf=graphical-session.target
After=graphical-session.target
# ConditionEnvironment requires systemd v247 to work correctly
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/i3bar-river
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=graphical-session.target
