[Desktop Entry]
Name=Eboard
Comment=Play chess against an engine, on a LAN or on the Internet
Exec=eboard
Terminal=false
Type=Application
Categories=Game;BoardGame;
