[Desktop Entry]
Version=1.0
Exec=xvkbd
Icon=xvkbd
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;
Name=Virtual Keyboard
Comment=Type by clicking or tapping images of keys
