[Desktop Entry]
Name=Wys
Name[es]=Wys
Comment=Daemon for managing PulseAudio for phone call audio
Comment[es]=Demonio para manejar PulseAudio por audio de llamadas telefónicas
Exec=/usr/bin/wys
NoDisplay=true
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-AutoRestart=true
