<?xml version="1.0" encoding="UTF-8" ?>
<gs_provision version="1">
  <config version="1">

<!-- Advanced Settings -->

    <!-- HT-502 - Layer 3 QoS (IP Diff-Serv or Precedence value for RTP) -->
    <P38>46</P38>
    <!-- Layer 2 QoS. 802.1Q/VLAN Tag -->
    <P51>1</P51>
    <!-- HT-502 - Layer 2 QoS. 802.1p priority value -->
    <P87>5</P87>
    <!-- HT-701 - Layer 2 QoS. SIP 802.1p priority value -->
    <P5038>5</P5038>
    <!-- HT-701 - Layer 2 QoS. RTP 802.1p priority value -->
    <P5042>5</P5042>

    <!-- Firmware Upgrade and Provisioning. 0 - TFTP, 1 - HTTP, 2 - HTTPS
    <P212>1</P4428>
    <!-- Firmware Server Path -->
    <P192>10.0.0.1/Grandstream</P192>
    <!-- Config Server Path -->
    <P237>10.0.0.1/Grandstream</P237>
    <!-- Allow DHCP Option 66 to override server -->
    <P145>0</P145>

    <!-- Disable SIP NOTIFY Authentication -->
    <P4428>1</P4428>
    <!-- Disable Direct IP Call -->
    <P277>1</P277>

<!-- FXS Port 1 -->

    <!-- DNS Mode: NAPTR/SRV -->
    <P103>2</P103>
    <!-- Refer-To Use Target Contact -->
    <P135>1</P135>
    <!-- Disable Call-Waiting -->
    <P91>1</P91>
    <!-- Delayed Call Forward Wait Time -->
    <P139>120</P139>
    <!-- Fax Mode: Pass Through -->
    <P228>1</P228>

<!-- FXS Port 2 -->

    <!-- DNS Mode: NAPTR/SRV -->
    <P702>2</P702>
    <!-- Refer-To Use Target Contact -->
    <P469>1</P469>
    <!-- Disable Call-Waiting -->
    <P791>1</P791>
    <!-- Delayed Call Forward Wait Time -->
    <P470>120</P470>
    <!-- Fax Mode: Pass Through -->
    <P710>1</P710>

<!-- Basic Settings -->

    <!-- Telnet Server: No -->
    <P276>1</P276>
    <!-- Reply to ICMP on WAN port -->
    <P189>1</P189>
    <!-- WAN side HTTP/Telnet access -->
    <P190>1</P190>
    <!-- Enable LAN DHCP -->
    <P5001>0</P5001>

    <!-- Time Zone -->
    <P64>customize</P64>

  </config>
</gs_provision>
