[Desktop Entry]
Type=Application
Name=mpris-proxy
Comment=Start mpris-proxy in daemon mode
Exec=/usr/bin/mpris-proxy
TryExec=/usr/bin/mpris-proxy
Terminal=false
X-GNOME-Autostart-Phase=Panel
X-KDE-autostart-phase=2
