[Desktop Entry]
Type=Application
Name=Autostart gnome-clocks in background mode for alarms
Exec=/usr/bin/gnome-clocks -b
Terminal=false
X-GNOME-AutoRestart=true
X-GNOME-HiddenUnderSystemd=true
