# Hiawatha main configuration file
# This is a basic sample configuration file that sets up a:
#   1) Default web site at /srv/http/hiawatha (Note: fast CGI is not active on default site)
#   2) Virtual host for phpmyadmin at /srv/http/phpMyAdmin
#      note: you must install phpmyadmin, mysql, php-mcrypt, and php-cgi separately. Be sure that extensions 
#      mcrypt.so and mysql.so are enabled in your php.ini.
#      Also add phpmyadmin to your hosts file  
#   3) FastCGI server


# GENERAL SETTINGS
ServerId = http
ConnectionsTotal = 150
ConnectionsPerIP = 10
SystemLogfile = /var/log/hiawatha/system.log
GarbageLogfile = /var/log/hiawatha/garbage.log


# BINDING SETTINGS
# A binding is where a client can connect to.
#
Binding {
	Port = 80
}



### The following fast CGI daemons require php-fpm using a UNIX socket and TCP port, respectively.
# ACTIVATE a FastCGI server for php  (using UNIX socket)
FastCGIserver {
    FastCGIid = PHP5
    ConnectTo = /run/php-fpm/php-fpm.sock
    Extension = php
    SessionTimeout = 30
}  

# ACTIVATE a FastCGI server for php (using IP-address and TCP port)
#FastCGIserver {
#    FastCGIid = PHP5
#    ConnectTo = 127.0.0.1:9000
#    Extension = php
#    SessionTimeout = 30
#}  


# DEFAULT WEBSITE
# It is wise to use your IP address as the hostname of the default website
# and give it a blank webpage. By doing so, automated webscanners won't find
# your possible vulnerable website.
#
Hostname = 127.0.0.1
WebsiteRoot =  /srv/http/hiawatha
StartFile = index.html
AccessLogfile = /var/log/hiawatha/access.log
ErrorLogfile = /var/log/hiawatha/error.log
#ErrorHandler = 404:/error.cgi
UseXSLT = yes


# VIRTUAL HOSTS
VirtualHost {
    
    # If you set WebsiteRoot to /usr/share/webapps/phpMyAdmin you don't need followsymlinks
    # I symlinked the phpMyAdmin folder to '/srv/http/phpMyAdmin' so that I can easily remember where it's located but
    # still set 'WebsiteRoot' to the real source directory. You could point WebsiteRoot to the
    # symlinked directory, but you will have to set 'FollowSymlinks = yes' for that to function properly
    
    #FollowSymlinks = yes
    #WebsiteRoot = /srv/http/phpMyAdmin
    WebsiteRoot = /usr/share/webapps/phpMyAdmin
    Hostname = phpmyadmin
    AccessLogfile = /var/log/hiawatha/phpmyadmin/access.log
    ErrorLogfile = /var/log/hiawatha/phpmyadmin/error.log
    StartFile = index.php
    UseFastCGI = PHP5
    
}

# Add some more

#VirtualHost {
#	Hostname = www.my-domain.com
#	WebsiteRoot = /svr/http/my-domain/public
#	StartFile = index.php
#	AccessLogfile = /svr/http/my-domain/log/access.log
#	ErrorLogfile = /svr/http/my-domain/log/error.log
#	TimeForCGI = 5
#	UseFastCGI = PHP5
#	UseToolkit = banshee
#}


#Additional settings for monitoring

UrlToolkit {
	ToolkitID = banshee
	RequestURI isfile Return
	Match ^/(css|files|images|js)/ Return
	Match ^/(favicon.ico|robots.txt|sitemap.xml)$ Return
	Match .*\?(.*) Rewrite /index.php?$1
	Match .* Rewrite /index.php
}

VirtualHost {
	Hostname = monitor.domain.com
	WebsiteRoot = /svr/http/monitor/public
	AccessLogfile = /svr/http/monitor/logfiles/access.log
	ErrorLogfile = /svr/http/monitor/logfiles/error.log
	StartFile = index.php
#	ExecuteCGI = yes
	UseFastCGI = PHP5 # Use if you use PHP as a FastCGI daemon
	TimeForCGI = 15
	UseToolkit = banshee
}
