[Desktop Entry]
Name=Godot
Comment=Multi-platform 2D and 3D game engine
Exec=godot
Icon=/usr/share/pixmaps/godot.png
Terminal=false
Type=Application
Categories=Development;Building;IDE;
