<specific>
  <IPSettings>
    <VLANID>1</VLANID>
    <VLANPriority>5</VLANPriority>
  </IPSettings>
  <SIPSettings>
  </SIPSettings>
  <ClockSettings>
    <NTPOnBoot>Yes</NTPOnBoot>
    <NTPAutoupdate>Yes</NTPAutoupdate>
    <NTPAutoupdateDelay>168</NTPAutoupdateDelay>
  </ClockSettings>
</specific>
