[Desktop Entry]
Name=spectacle
Comment=Start spectacle DBus service
Type=Application
Exec=/usr/bin/spectacle --dbus
TryExec=/usr/bin/spectacle
Terminal=false
