[Desktop Entry]
Name=Lapce
GenericName=Text Editor
Comment=Lightning-fast and Powerful Code Editor
TryExec=lapce
Exec=lapce %F
Type=Application
Keywords=Text;editor;
Icon=lapce
Categories=TextEditor;Development;IDE;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
