[Desktop Entry]
Type=Application
Version=1.0
Name=Git Annex Assistant
Comment=Autostart
Terminal=false
Exec=/usr/bin/git-annex assistant --autostart
Categories=
