[Desktop Entry]
Type=Application
Version=1.0
Name=Git Annex
Comment=Track and sync the files in your Git Annex
Terminal=false
Exec=/usr/bin/git-annex webapp
Icon=git-annex
Categories=Network;FileTransfer;
