[Desktop Entry]
Name=amazfish
Comment=Start amazfish
Type=Application
Exec=/usr/bin/harbour-amazfishd
TryExec=/usr/bin/harbour-amazfishd
Terminal=false
