[Desktop Entry]
Name=Dillo
GenericName=Web Browser
Comment=Very small and fast GUI web browser
Exec=dillo
Icon=dillo
Terminal=false
Type=Application
Categories=Network;GTK;WebBrowser;
