[Desktop Entry]
GenericName=Web Browser
Name=Dillo (MbedTLS variant)
Comment=Fast and small graphical web browser
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Exec=dillo-mbedtls %U
Icon=dillo
Terminal=false
Type=Application
Categories=Network;WebBrowser;
