[Desktop Entry]
Type=Application
Name=Canfield
GenericName=
Comment=Solitary card game
Icon=
Exec=/usr/bin/canfield
Terminal=false
Categories=Game;BoardGame;
