[Desktop Entry]
Type=Application
Name=Freecell
GenericName=
Comment=Solitary card game
Icon=
Exec=/usr/bin/freecell
Terminal=false
Categories=Game;CardGame;
