[Desktop Entry]
Type=Application
Name=Mastermind
GenericName=
Comment=Guess a secret combination of colors
Icon=
Exec=/usr/bin/mastermind
Terminal=false
Categories=Game;LogicGame;
