[Desktop Entry]
Type=Application
Name=Merlin
GenericName=
Comment=Classical puzzle
Icon=
Exec=/usr/bin/merlin
Terminal=false
Categories=Game;LogicGame;
