[Desktop Entry]
Type=Application
Name=Minesweeper
GenericName=
Comment=Find all hidden mines in a minefield
Icon=
Exec=/usr/bin/minesweeper
Terminal=false
Categories=Game;LogicGame;
