[Desktop Entry]
Type=Application
Name=Pegged
GenericName=
Comment=Classical board game
Icon=
Exec=/usr/bin/pegged
Terminal=false
Categories=Game;LogicGame;
