[Desktop Entry]
Type=Application
Name=Spider
GenericName=
Comment=Solitary card game
Icon=
Exec=/usr/bin/spider
Terminal=false
Categories=Game;BoardGame;
