[Desktop Entry]
Type=Application
Name=Taipei
GenericName=
Comment=Asian puzzle: remove pairs of equal stones
Icon=
Exec=/usr/bin/taipei
Terminal=false
Categories=Game;BoardGame;
