[Desktop Entry]
Type=Application
Name=Taipei Editor
GenericName=
Comment=Editor for your own Taipei levels
Icon=
Exec=/usr/bin/taipedit
Terminal=false
Categories=Game;BoardGame;
