[Desktop Entry]
Type=Application
Name=Thornq
GenericName=
Comment=Solitary card game
Icon=
Exec=/usr/bin/thornq
Terminal=false
Categories=Game;CardGame;
