[Desktop Entry]
Version=2.0.0
Name=osmscout-server
Comment=Start osmscout-server in daemon mode
Type=Application
Exec=/usr/bin/osmscout-server
TryExec=/usr/bin/osmscout-server
Terminal=false
X-KDE-autostart-phase=2
