[Desktop Entry]
Name=asteroid-btsyncd
Comment=Start Asteroid Bluetooth Sync daemon
Type=Application
Exec=/usr/bin/asteroid-btsyncd
TryExec=/usr/bin/asteroid-btsyncd
Terminal=false
