[Desktop Entry]
Version=1.0
Name=newsboat

GenericName=RSS/Atom feed reader
Comment=Launches newsboat RSS/Atom feed reader
Keywords=RSS,Atom,News
Categories=Network;ConsoleOnly

Type=Application
Icon=utilities-terminal
Terminal=true
Exec=newsboat %u
