[Desktop Entry]
Version=1
Encoding=UTF-8
Exec=Ri_li %u
Icon=ri-li.png
Type=Application
Categories=Game;ArcadeGame;
Name=Ri-li
Comment=Drive a toy wood engine
Comment[fr]=Conduire un petit train de bois
Comment[it]=Conduci un piccolo treno di legno
Terminal=false
StartupNotify=false
