net.dscp.rtp = 101110
net.dscp.sip = 101110
net.vlan.id = 1
net.vlan.priority = 5
net.vlan.use = 1
prov.download.cfgpath = Algo
prov.download.fwgpath = Algo
prov.download.method = http
prov.server.method = static
prov.server.static = 10.0.0.1
prov.version.firmware = 2.4
prov.version.kernel = r5
sip.alert2.use = 1
audio.ring.tone2 = buzzer.wav
sip.alert3.use = 1
audio.ring.tone3 = chime.wav
sip.alert4.use = 1
audio.ring.tone4 = dogs.wav
sip.alert5.use = 1
audio.ring.tone5 = gong.wav
