[Desktop Entry]
Version=1.0
Name=Mapplauncherd Booster QtComponents
Comment=Application launch booster for Qt5 Qt Components
Exec=/usr/libexec/mapplauncherd/booster-qtcomponents-qt5
Terminal=false
Type=Application
