[Desktop Entry]
Type=Application
Name=Dissent
Icon=so.libdb.dissent
Exec=/usr/bin/dissent %U
Categories=Network;InstantMessaging;Chat;VideoConference;
Keywords=Discord;Chat;Messenger;Social
X-Purism-FormFactor=Workstation;Mobile;
