[Desktop Entry]
Name=Sioyek
GenericName=PDF viewer
Comment=PDF viewer designed for reading research papers and technical books
Exec=sioyek
Icon=sioyek
Terminal=false
Type=Application
Categories=Viewer;Graphics;
MimeType=application/pdf;application/x-pdf;
