[Desktop Entry]
Name=Goguma
Comment=IRC client for mobile devices
Exec=goguma
Icon=fr.emersion.goguma
Type=Application
MimeType=x-scheme-handler/irc;
StartupNotify=true
Categories=Network;IRCClient;
