KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="a2ca", GROUP="plugdev", MODE="0660", SYMLINK+="solokey"

# Solo bootloader + firmware access
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="a2ca", GROUP="plugdev", MODE="0660"
KERNEL=="hidraw*", SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="a2ca", GROUP="plugdev", MODE="0660"

# ST DFU access
KERNEL=="hidraw*", SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="df11", GROUP="plugdev", MODE="0660"
