[Desktop Entry]
Version=1.0
Name=Nymphcast
Comment=Start Nymphcast
Exec=/usr/bin/nymphcast_server -c /etc/nymphcast/nymphcast_video_config.ini -a /usr/share/nymphcast/apps
Terminal=false
Type=Application
X-KDE-autostart-phase=2
