// Allow any user or system service to change the system time zone
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.timedate1.set-timezone") {
        return polkit.Result.YES;
    }
});

// Allow any user or system service to change time synchronization, which is done when changing the time zone manually
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.timedate1.set-ntp" && subject.active) {
        return polkit.Result.YES;
    }
});
