#
# A simple gvpe configuration nothing fancy see gvpe.conf(5) for more info
#

#       udp-port = 4000			# the external port to listen on (configure your firewall)
#       tcp-port = 119
#       mtu = 1400       		# minimum MTU of all outgoing interfaces on all hosts
#       ifname = vpn0    		# the local network device name
#       ip-proto = 17			# UDP. Not realy needed

#       node = first     		# just a nickname
#       hostname = vpn-server-dns 	# the DNS name or IP address of the host
#       enable-udp=yes
#       router-priority=1
#       connect=always

#       node = second			# this node is behind a firewall
#       connect = never			# so no connection attempts should be made  and no hostname here

